@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.button_style {
    font-family: "Noto Sans", serif;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    color: #f1f1f1;
    border: none;
    font-weight: 400;
    background: #1e293b;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .small {
    padding: 6px 12px;
    font-size: 14px;
  }
  
  .medium {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .large {
    padding: 15px 30px;
    font-size: 24px;
  }
  
  .hover:hover {
    transform: scale(1.1);
  }
  

  