.search_bar_flex_container {
    display: flex;
    align-items: center;
    position: relative;
}

.search_input_field {
    width: 243px;
    height: 48px;
    padding-left: 10px;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search_input_field:focus {
    outline-color: #014d9d;
}

.search_magnifying_icon {
    font-size: 20px;
    color: #014d9d;
    border: 1px solid black;
    padding: 12.5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_magnifying_icon:hover {
    background-color: #cce1ff;
}

.magnifying_icon {
    transform: translateY(10%);
}

