.carousel_container {
  position: relative;
  background: #f1f1f1;
  overflow: hidden;
  padding: 0 30px;
  /*padding same as button width */
}

.carousel_item {
  height: 100%;
  width: calc(100% - 60px);
  /* substract the total button width */
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.prev_button {
  left: 0;
}

.prev_button::hover,
.next_button::hover {
  background-color: rgba(0, 0, 0, 0.7, green, blue, alpha);
}

.next_button {
  right: 0;
}

/* Common styles for both buttons */
.prev_button,
.next_button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8, green, blue, alpha);
  color: burlywood;
  font-size: 24px;
  cursor: pointer;
  border: none;
  transition:
    background-color,
    0.3s ease;
}
